.screening-result-pk {

}

.screening-result-pk .headline {
    padding-left: 20px;
}

.screening-result-pk .headline span,
.marked-word {
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    background-color: #fff4d9;
}


.screening-result-quotes {
    border-left: gray 6px solid;
}
