.tg-message {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 10px 1px #d5d5d5;
}

.tg-message > .title {
    font-weight: bold;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbcbc;
    font-size: 18px;
    margin-bottom: 20px;
}

.tg-message > .body {
    border-bottom: 1px dashed #000;
    margin: 15px;
}

.tg-message > .body:last-child {
    border-bottom: none;
}