{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<p>
    Зачекайте<span id="wait-dots"></span>
</p>
<script>
    jQuery(function() {
        const dotsElement = document.getElementById('wait-dots');
        setInterval(function() {
            if (dotsElement.textContent.length === 3) {
                dotsElement.textContent = '';
            } else {
                dotsElement.textContent += '.';
            }
        }, 600);

        const redirectFn = function() {
            window.location = "{{ redirect_url }}"
        };

        jQuery.post({
            url: "{{ post_url }}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: redirectFn,
            error: redirectFn
        })
    });
</script>
{% endblock %}